header {
  padding-block: 1em;
  margin-bottom: 3em;
  background-color: #203a43;
  -webkit-box-shadow: 0px 2px 19px 0px rgba(245, 237, 245, 1);
  -moz-box-shadow: 0px 2px 19px 0px rgba(245, 237, 245, 1);
  box-shadow: 0px 2px 19px 0px rgba(245, 237, 245, 1);
}
ul {
  display: flex;
  flex-direction: row;
  place-content: center;
  gap: 1em;

  a {
    color: #fff;
    &:hover {
      color: #aa4b6b;
    }
  }
}
